chromadb
sentence-transformers
transformers
torch
requests
pandas
scikit-learn
tqdm
numpy
python-dotenv
fastapi
uvicorn
python-multipart
confluent-kafka
apache-airflow==2.10.2
psycopg2-binary
asyncpg
kafka-python
accelerate
sentencepiece
google-generativeai
