fastapi
uvicorn[standard]
alembic
psycopg[binary]
psycopg2-binary
pydantic-settings
redis
python-multipart
deep-translator
httpx
asyncpg==0.29.0
SQLAlchemy>=2.0.0
python-docx
pdf2docx
aioboto3==12.3.0
arq
